<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Are We Legacy Computing Yet?</title>
        <style>
            {{CSS}}
        </style>
    </head>
    <body>
        <h1>Are We Legacy Computing Yet?</h1>
        <p class="subtitle">
            Tracking terminal emulator support for Unicode's "Symbols for Legacy
            Computing" (U+1FB00-U+1FBFF) and its supplement block
            (U+1CC00-U+1CEBF)
        </p>

        <p>
            <a href="./sources/U1FB00_symbols_for_legacy_computing.pdf"
                >Symbols for Legacy Computing</a
            >
            and its
            <a
                href="./sources/U1CC00_symbols_for_legacy_computing_supplement.pdf"
                >supplement</a
            >
            are unicode blocks containing graphical characters that were found
            on computers from the 70s and 90s. These characters were used to
            show
            <a href="https://en.wikipedia.org/wiki/Semigraphics"
                >semi-graphical
            </a>
            elements on the terminal's text grid, and were used to display
            pictures, render games, and enhance terminal UIs.
        </p>
        <p>
            Despite its age, terminal usage is more popular than ever, with many
            developers using modern text based tools like neovim and
            claude-code. The modern generation of terminal UI could benefit from
            many of the graphical elements in these blocks to provide high
            fidelity output and a more readable UI. However, support for these
            characters isn't universal, and some terminals and fonts don't
            support them all.
        </p>

        <p></p>
        <p>
            <i>
                <b>
                    These are unicode characters, why are you talking about
                    terminal emulator support?
                </b>
            </i>
            <br />
            Although these codepoints could be drawn by the standard text
            rendering in a terminal, very few fonts actually contain the paths
            necessary to display them, so many terminal emulators implement
            custom drawing routines for them instead. But there's another
            benefit to having the terminal draw the glyphs: the paths can be
            customized to the users display settings, allowing graphical
            elements to properly connect to one another even if the other glyphs
            drawn by the terminal have generous padding between characters or
            lines.
        </p>

        <h1>Terminal Emulator Support</h1>

        <h2>Methodology</h2>
        <p>
            To see which terminals implement custom drawing for codepoints in
            these blocks, I configured each emulator to use a font that didn't
            contain glyphs for any of the characters and then used a script to
            print all of them anyway. Any characters that still appeared on
            screen must have had custom logic in the emulator. That said, it was
            a very manual process, and I may have made mistakes! If any of the
            data is incorrect, please email me or submit a pull request against
            the repository
            <a
                href="https://github.com/TyOverby/arewelegacycomputingyet.com/tree/main/terminal-emulators/legacy_computing_compatibility"
                >here</a
            >
            or
            <a
                href="https://github.com/TyOverby/arewelegacycomputingyet.com/tree/main/terminal-emulators/legacy_computing_supplement_compatibility"
                >here</a
            >.
        </p>

        {{OVERVIEW}} {{TABLES}} {{CHAR_GRIDS}}

        <footer>
            <a href="https://github.com/tyoverby/arewelegacycomputingyet.com"
                >View on GitHub</a
            >
        </footer>

        <!-- prettier-ignore -->
        <script> {{JS}} </script>
    </body>
</html>
